body {
  margin: 0;
  font-family: 'Montserrat';

  background-color: #161616;
  color: #ffffff;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin: 20px 90px;
}

p {
  margin: 0px;
}
